//  H5P Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Colours
//   2. Buttons


// 1. Colours
// ----------
$input-focus: #7fb8ff;
$input-border: #a0a0a0;
$not-filled-out: #fff0f0;
$correct-primary: #255c41;
$correct-secondary: #9dd8bb;
$wrong-primary: #b71c1c;
$wrong-secondary: #f7d0d0;
$multiple-choice-bg: #ccc;
$multiple-choice-border: #ccc;
$feedback-failed: $wrong-primary;
$feedback-almost: #666;
$feedback-passed: $correct-primary;

// 2. Buttons
// ----------
$h5p-action-button-width: 2.25em;
$h5p-action-button-height: $h5p-action-button-width;